.product-display {
  border: 5px solid hsl(0, 0%, 90%);
  width: 235px;
  height: 320px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  font-family: 'Exo 2', sans-serif;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease,
    background-color 0.3s ease,
    git scale 0.3s ease;
}

.product-display:hover {
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  border-color: hsl(0, 0%, 85%);
  transform: translateY(-5px);
  scale: 102%;
}

.product-display:hover .product-details,
.product-display:hover .product-image {
  background-color: hsl(0, 0%, 85%);
}

.product-image.fade-in {
  opacity: 0;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  background-color: hsl(0, 0%, 90%);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  opacity: 1;
}

.product-details {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-color: hsl(0, 0%, 90%);
  box-sizing: border-box;
  overflow: hidden;
  gap: 2px;
  padding: 4px 8px;
  transition: background-color 0.3s ease;
}

.product-name {
  font-size: 0.9rem;
  margin: 0;
  flex: 1;
  line-height: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-serialno {
  font-size: 0.7rem;
  color: hsla(0, 0%, 18%, 0.669);
}

.product-price {
  font-size: 1.7rem;
  font-weight: bold;
}

.product-serialno,
.product-price {
  margin: 0;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .products-page {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 10px;
  }

  .product-display {
    width: 100%;
    height: auto;
  }

  .product-image {
    height: auto;
    aspect-ratio: 1 / 1;
  }
}
