.product-description {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  font-size: 14px;
  color: hsl(0, 0%, 30%);
  margin: 4px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-img-container {
  height: 80vh;
  width: 50vw;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  background-color: hsl(0, 0%, 90%);
  border-radius: 10px;
}
.product-img {
  height: 100%;
  width: 100%;
  object-position: center;
  display: block;
  background-color: hsl(0, 0%, 90%);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  opacity: 1;
}

.product-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition:
    box-shadow 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease,
    background-color 0.3s ease;
  flex-shrink: 0;
}
