.products-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 20px;
  background-color: #f9f9f9;
}

.loading,
.error {
  text-align: center;
  font-size: 4.5rem;
  font-family: 'Exo 2', sans-serif;
}
