.product-description {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  font-size: 14px;
  color: hsl(0, 0%, 30%);
  margin: 1px 7% 0 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-img-container {
  height: 80vh;
  width: 50vw;
  overflow: hidden;
  object-fit: cover;
  box-sizing: border-box;
  object-position: center;
  display: inline-block;
  background-color: hsl(0, 0%, 90%);
  border-radius: 10px;
}

.product-img {
  height: 100%;
  width: 100%;
  border: 1px solid hsl(0, 0%, 90%);
  object-position: center;
  display: block;
  background-color: hsl(0, 0%, 100%);
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;
  opacity: 1;
}

.product-card {
  display: flex;
  width: 50vw;
  height: 80vh;
  box-sizing: border-box;
  flex-direction: column;
  align-items: left;
  gap: 12px;
  padding: 30px;
  background-color: hsl(0, 0%, 94%);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
  flex-shrink: 0;
  font-family: 'Exo 2', sans-serif;
}

.product-card h3 {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 40%);
  margin: 0;
}

.product-card h2 {
  font-size: 20px;
  margin: 0;
  white-space: normal;
  word-wrap: break-word;
}

.product-card h1 {
  font-size: 60px;
  margin: 0;
  color: hsl(123, 46%, 37%);
  font-weight: 700;
}

.product-card p {
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  margin: 0;
}

.product-card p::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 6px;
}

.product-card p::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: transparent;
}

.product-card p::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: hsl(0, 0%, 73%);
}
textarea::-webkit-scrollbar:hover {
  cursor: auto;
}
.product-card div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.product-card div button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: 0.3s ease;
}
.product-card div button:first-child {
  background: linear-gradient(135deg, hsl(151, 100%, 55%), hsl(145, 100%, 35%));
  box-shadow: 0 0 10px rgba(0, 230, 118, 0.4);
  flex: 1;
}

.product-card div button:first-child:hover {
  background: linear-gradient(135deg, hsl(150, 100%, 45%), hsl(148, 100%, 23%));
  box-shadow: 0 0 15px rgba(0, 255, 128, 0.6);
  transform: translateY(-2px);
}

.product-card div .fav-btn {
  align-self: flex-end;
  padding: 10px 6px;
  text-align: center;
  width: 50px;
  background: linear-gradient(135deg, hsl(0, 91%, 55%), hsl(6, 91%, 45%));
  box-shadow: 0 0 10px rgba(251, 8, 8, 0.4);
}

.product-card div .fav-btn:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 45%), hsl(9, 100%, 35%));
  box-shadow: 0 0 15px rgba(241, 8, 8, 0.6);
  transform: translateY(-2px);
}

.product-card div button:last-child svg {
  font-size: 25px;
}

.product-card textarea {
  height: 83px;
  resize: none;
  align-items: start;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

.product-card div .product-comment-btn {
  margin-left: auto;
  text-align: center;
  align-self: flex-end;
  max-width: 80px;
  padding: 6px 8px;
}

.product-card div svg {
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateY(-6px);
  }
}
